---
import Header from "../components/Header.astro";
import Playground from "../components/playground/Playground.svelte";
import "../styles/base.css";
import "../styles/prose.css";
import icon from "../lib/icon.svg?url";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href={icon} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground</title>
  </head>
  <body>
    <Header />
    <Playground client:load />
  </body>
</html>
