---
// Footer component with links
---

<footer>
  <a href="/privacy"> Privacy policy </a>
  <a href="/startups"> Startup? </a>
  <a href="mailto:nahcrof@gmail.com">
    Contact
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
      ><path fill="currentColor" d="M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z"></path></svg
    >
  </a>
  <a href="https://discord.gg/e8UeP7YdJW">
    Discord
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
      ><path fill="currentColor" d="M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z"></path></svg
    >
  </a>
</footer>
